<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <h1>Reglas de asociación</h1>
  <h3>Input file: {{filename}}</h3>
  <h3>Contenido: <b><i>{{ content }}  </i>  </b></h3>
  <h3>Minimal support: <b><i>{{ s }}  </i>  </b></h3>
  <h3>Confidence: <b><i>{{ c }}  </i>  </b></h3>
  <h3>Lift: <b><i>{{ l }}  </i>  </b></h3>
  <h3>Frecuencias: </h3>
  {% if plot_url %}
    <img src= {{plot_url}} alt = "Chart cannot be displayed">
    {% endif %}
  <h3>Resultados: <b><i>{{ ResultadosC1 }}  </i>  </b></h3>
  <h3>Reglas totales: <b><i>{{ total_item }}  </i>  </b></h3>
  <h3>Tiempo de ejecución: <b><i>{{ program_run_time }}  </i>  </b></h3>

</body>
</html>
