<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <h1>Reglas de Asociación</h1>
  <form action = "/apriori" onsubmit="Validate(this);" method = "POST" enctype = "multipart/form-data">
    <p>
    input file: <input type="file" name="file"><br>
    minimal support: <input type="text" name="support"><br>
    confidence: <input type="text" name="confidence"><br>
    lift: <input type="text" name="lift"><br>
    <input type="submit" value="Upload and Run Apriori Algorithm">
    </p>
  </form>
  <h1>Métricas de distancia</h1>
  <h2 Sólo necesitas introducir un archivo csv>
  <form action = "/metricas" onsubmit="Validate(this);" method = "POST" enctype = "multipart/form-data">
    <p>
    input file: <input type="file" name="file"><br>
    columna: <input type="text" name="columna"><br>
    fila: <input type="text" name="fila"><br>
    <input type="submit" value="Upload and Run ">
    </p>
  </form>
</body>
</html>